root = true

[*]
# Unix-style newlines for all files
end_of_line = lf
# Ensure files end with a newline when saving
insert_final_newline = true
# Trim trailing whitespace
trim_trailing_whitespace = true
