@mixin thumbnail-hover {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--ds-color-accent-surface-hover);
    opacity: 0.5;
    transition: opacity 0.2s ease;
}

@mixin title-hover {
    color: var(--ds-color-text-default);
    text-decoration: underline;
    text-decoration-thickness: var(--dsc-link-text-decoration-thickness--hover);
    text-underline-offset: .27em;
}


.card {
    padding: 0;
    border: 0 none;
}

.cardContent {
    display: flex;
    width: 100%;

    .thumbnail {
        display: flex;
        position: relative;
        background-color: #D4E4F0;
        width: 175px;
        align-items: center;
        justify-content: center;

        &:hover::after, &:focus-visible::after {
            @include thumbnail-hover;
        }

        img {
            height: auto;
            object-fit: scale-down;
        }

        @media (max-width: 800px) {
            display: none;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: var(--ds-size-1);
        padding: var(--ds-size-2) var(--ds-size-4);
    }
}

.top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--ds-color-neutral-border-subtle);

    .left {
        display: flex;
        gap: 16px;
        align-items: center;

        @media (max-width: 400px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        }

        .itemCount {
            background: var(--ds-color-surface-tinted);
        }
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;

        &:visited {
            color: var(--ds-color-text-subtle);
        }

        &:hover, &:focus-visible {
            @include title-hover;
        }

        &:active {
            background: none;
        }
    }

    .updated {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.middle {
    display: grid;
    grid-template-columns: minmax(200px, 33%) auto 1fr;
    margin-bottom: var(--ds-size-1);

    @media (max-width: 800px) {
        grid-template-columns: 1fr auto 1fr;
    }

    @media (max-width: 400px) {
        grid-template-columns: 1fr;
    }

    .description {
        color: var(--ds-color-neutral-text-default);
        font-size: var(--ds-font-size-3);
    }

    .divider {
        width: 1px;
        background: var(--border-global-divider, #C8C5C5);
        margin: 2px 20px;

        @media (max-width: 400px) {
            display: none;
        }
    }

    .metadata {
        display: flex;
        min-width: 0;

        @media (max-width: 400px) {
            display: none;
        }

        >div {
            display: flex;
            flex-direction: column;
        }
    }
}

.bottom {
    display: grid;
    grid-template-columns: minmax(200px, 33%) auto 1fr;
    align-items: center;

    @media (max-width: 800px) {
        grid-template-columns: 1fr auto 1fr;
    }

    .left {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        grid-column: 1;

        .keywords {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            font-size: var(--ds-font-size-3);

            .tag {
                background: var(--ds-color-surface-tinted);
            }
        }

        .itemType {
            background: var(--ds-color-warning-surface-tinted);
            text-transform: capitalize;
        }
    }

    .detailsLink {
        grid-column: 3;
        display: flex;
        justify-content: flex-end;

        a {
            display: flex;
            align-items: center;
            gap: var(--ds-size-1);
            text-decoration: none;

            &:visited {
                color: var(--ds-color-text-subtle);
            }

            &:hover, &:focus-visible {
                color: var(--ds-color-text-default);
                text-decoration: underline;
                text-decoration-thickness: var(--dsc-link-text-decoration-thickness--hover);
                text-underline-offset: .27em;
            }

            &:active {
                background: none;
            }
        }
    }
}

.cardContent:has(.thumbnail:hover, .thumbnail:focus-visible) .content .top a {
    @include title-hover;
}

.cardContent:has(.content .top a:hover, .content .top a:focus-visible) .thumbnail::after {
    @include thumbnail-hover;
}

.tag {
    border-radius: var(--ds-border-radius-sm);
    padding: 4px 8px;
    font-size: var(--ds-font-size-3);
}

.label {
    color: var(--ds-color-neutral-text-subtle);
    font-size: var(--ds-font-size-2);
}

.value {
    color: var(--ds-color-neutral-text-default);
    font-size: var(--ds-font-size-3);
}
