@mixin thumbnail-hover {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--ds-color-accent-surface-hover);
    opacity: 0.5;
}

@mixin title-hover {
    color: var(--ds-color-text-default);
    text-decoration: underline;
    text-decoration-thickness: var(--dsc-link-text-decoration-thickness--hover);
    text-underline-offset: .27em;
}


.card {
    padding: 0;
    border: 0 none;
}

.cardContent {
    display: flex;
    width: 100%;

    .thumbnail {
        display: flex;
        position: relative;

        &:hover::after {
            @include thumbnail-hover;
        }

        img {
            height: auto;
            object-fit: scale-down;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: var(--ds-size-1);
        padding: var(--ds-size-2) var(--ds-size-4);
    }
}

.top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--ds-color-neutral-border-subtle);

    .left {
        display: flex;
        gap: 16px;
        align-items: center;

        .itemCount {
            background: var(--ds-color-surface-tinted);
        }
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;

        &:visited {
            color: var(--ds-color-text-subtle);
        }

        &:hover {
            @include title-hover;
        }

        &:active {
            background: none;
        }
    }

    .updated {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.middle {
    display: flex;
    margin-bottom: var(--ds-size-1);

    .description {
        max-width: 33%;
        color: var(--ds-color-neutral-text-default);
        font-size: var(--ds-font-size-3);
    }

    .divider {
        width: 1px;
        background: var(--border-global-divider, #C8C5C5);
        margin: 2px 20px;
    }

    .metadata {
        display: flex;

        >div {
            display: flex;
            flex-direction: column;
        }
    }
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
        display: flex;
        gap: 8px;

        .keywords {
            display: flex;
            gap: 8px;
            font-size: var(--ds-font-size-3);

            .tag {
                background: var(--ds-color-surface-tinted);
            }
        }

        .itemType {
            background: var(--ds-color-warning-surface-tinted);
            text-transform: capitalize;
        }
    }

    .detailsLink {
        a {
            display: flex;
            justify-content: space-between;
            text-decoration: none;

            svg {
                margin-left: var(--ds-size-1);
            }

            &:visited {
                color: var(--ds-color-text-subtle);
            }

            &:hover {
                color: var(--ds-color-text-default);
                text-decoration: underline;
                text-decoration-thickness: var(--dsc-link-text-decoration-thickness--hover);
                text-underline-offset: .27em;
            }

            &:active {
                background: none;
            }
        }
    }
}

.cardContent:has(.thumbnail:hover) .content .top a {
    @include title-hover;
}

.cardContent:has(.content .top a:hover) .thumbnail::after {
    @include thumbnail-hover;
}

.tag {
    border-radius: var(--ds-border-radius-sm);
    padding: 4px 8px;
    font-size: var(--ds-font-size-3);
}

.label {
    color: var(--ds-color-neutral-text-subtle);
    font-size: var(--ds-font-size-2);
}

.value {
    color: var(--ds-color-neutral-text-default);
    font-size: var(--ds-font-size-3);
}