.heading {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: var(--ds-size-3);

    h2 {
        font-size: var(--ds-font-size-5);
    }
}

.selectedFilters {
    display: flex;
    gap: var(--ds-size-2);
    flex-wrap: wrap;
    
    button {
        font-size: var(--ds-font-size-3);
    }
}

.filters {
    &>div {
        display: flex;
        gap: var(--ds-size-2);
        align-items: flex-start;

        &> svg {
            margin-top: var(--ds-size-11);
        }
    }

    .fieldSelect {
        width: 40%;
    }

    .fieldFilter {
        width: 252px;
    }

    button {
        margin: var(--ds-size-10) 0 0 var(--ds-size-3);
    }
}

.bbox {
    display: flex;
    flex-direction: column;

    .inputs {
        display: flex;
        gap: var(--ds-size-3);

        > div {
            display: flex;
            flex-direction: column;
            gap: var(--ds-size-1);
        }

        label {
            color: var(--ds-color-neutral-text-subtle);
        }

        input {
            width: 120px;
        }
    }
}