@use '@/styles/variables' as *;

.page {
    display: flex;
    flex-direction: column;
    gap: 21px;
    max-width: $page-width;
    width: 100%;
    padding: $main-padding;
    box-sizing: border-box;
}

.top {
    display: flex;
    justify-content: space-between;
    gap: 21px;
    width: 60%;

    >div {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    img {
        width: auto;
    }
}

.main {
    display: flex;
    gap: 60px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 21px;
    width: 60%;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.collectionsCard {
    .cardBlock {
        display: flex;
        align-items: center;
        gap: 8px;

        >* {
            margin: 0;
        }

        .content {
            flex: 1;
        }

        .title {
            font-weight: 500;
        }
    }
}

@media (max-width: 820px) {
    .top {
        width: 100%;

        img {
            display: none;
        }
    }

    .main {
        flex-direction: column;
        gap: 21px;
    }

    .left {
        width: 100%;
    }
}