.mapContainer {
    position: relative;

    .map {
        border-radius: var(--ds-border-radius-sm);
        background-color: #dddddd;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}